/* ============ Responsive Design ============ */
/* Pour les écrans de bureau */
@media (min-width: 768px) {
  /* .search_input {
    width: 30rem;
  } */

  .menu-toggle {
    display: block;
    visibility: visible;
  }

  .sidebar {
    width: 35rem;
    left: 0;
    visibility: visible;
    position: relative;
    transition: none;
  }
}

/* Écrans très petits (max 576px) */
@media (max-width: 320px) {

}
/* Écrans très petits (max 576px) */
@media (max-width: 576px) {

}

/* Écrans petits (576px à 768px) */
@media (min-width: 576px) and (max-width: 768px) {
}

