/* ============ Responsive Design ============ */
/* Pour les écrans de bureau */
@media (max-width: 768px) {
  .search_input {
    max-width:  90%;
  }

  .sidebar {
    height: 100dvh;
    box-sizing: border-box;
    left: -35rem;
    visibility: hidden;
    transition: left 0.4s ease, visibility 0.4s ease;
  }

  .search_icon{
    right: 40px;
  }


}

/* Écrans très petits (max 576px) */
@media (max-width: 320px) {

}
/* Écrans très petits (max 576px) */
@media (max-width: 576px) {

}

/* Écrans petits (576px à 768px) */
@media (min-width: 576px) and (max-width: 768px) {
}

