:root {
  --color-primary: #003366; /* Main Ecobank Blue */
  --color-secondary: #005a99; /* Lighter Blue */
  --color-tertiary: #fdb913; /* Ecobank Yellow */
  --color-primary-darker: #002d5c; /* Darker Blue */
  --color-secondary-darker: #004480; /* Even darker blue */
  --color-tertiary-darker: #e89e00; /* Darker Yellow */
  --color-green-ecobank: #a9e34b;
  --color-primary-opacity: #0033663a;
  --color-secondary-opacity: #005a993a;
  --color-tertiary-opacity: #fdb9133a;
  --gradient-primary: linear-gradient(
    to top right,
    #003366,
    #005a99,
    #a9e34b
  ); /* Gradient with blue */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}

/* .sidebar {
    width: 300px;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* Bouton hamburger pour mobiles */

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
#menu-toggle {
    display: none; 
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 2.4rem;
    background: none;
    border: none;
    color: #333;
    z-index: 1001;
    cursor: pointer;
  }
  
  /* Sidebar masquée en mode mobile */
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -30rem; 
    width: 30rem;
    height: 100vh;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: 2rem;
    transition: left 0.3s ease; 
    z-index: 1000; 
  }
  
  /* Sidebar visible avec la classe 'show' */
  .sidebar.show {
    left: 0;
    visibility: visible; 
  }
  
  /* Pour les écrans de bureau */
  @media (min-width: 768px) {
    .menu-toggle {
      display: block; 
      visibility: visible;
    }
  
    .sidebar {
      width: 30rem;
      left: 0; 
      visibility: visible;
      position: relative; 
      transition: none; 
    }
  }
  



.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-secondary-opacity);
  color: var(--color-tertiary);
  padding: 10px;
  border-radius: 5px;
}

.form__input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-tertiary);
}

.form__input:active{
  border: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



#map {
  position: relative;
  flex: 1;
  height: 100vh;
}

.hidden {
  display: none;
}


/* //////////////// */
.point-list {
  max-height: 50rem; /* Limite la hauteur de la liste */
  overflow-y: auto;  /* Ajoute un défilement vertical */
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0;
  border-radius: 6px;
}

/* .movements {
  max-height: 20rem;
  background-color: #ffffff;
  padding: 2rem;
  overflow-y: auto;
  border: 1px solid #0082bb;
  border-radius: 0.5rem;
} */

.point-list::-webkit-scrollbar {
  width: 8px;
}

.point-list::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary-opacity);
  border-radius: 10px;
}

.point {
  display: flex;
  justify-content: space-between;
  background: var(--gradient-primary);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.point_edit{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete_icon{
  color: #fa5252;
  cursor: pointer;
}

.edit_icon{
  color: #005a99;
  cursor: pointer;
}

.point__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.point__details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.point__icon {
  font-size: 1.5em;
  margin-right: 8px;
}

.point__value {
  font-weight: bold;
  margin-right: 5px;
}

.search{
  position: absolute !important;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: none;
}

.search_input{
  background: none;
  width: 30rem;
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: 2px solid var(--color-green-ecobank);
  border-radius: 15px;
  transition: all 0.2s;
  color: var(--color-tertiary);
}

.search_input:focus{
  outline: none;
}

