:root {
  --color-primary: #003366; /* Main Ecobank Blue */
  --color-secondary: #005a99; /* Lighter Blue */
  --color-tertiary: #fdb913; /* Ecobank Yellow */
  --color-primary-darker: #002d5c; /* Darker Blue */
  --color-secondary-darker: #004480; /* Even darker blue */
  --color-tertiary-darker: #e89e00; /* Darker Yellow */
  --color-green-ecobank: #a9e34b;
  --color-primary-opacity: #0033663a;
  --color-secondary-opacity: #005a993a;
  --color-tertiary-opacity: #fdb9133a;
  --gradient-primary: linear-gradient(
    to top right,
    #003366,
    #005a99,
    #a9e34b
  ); /* Gradient with blue */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}

/* .sidebar {
    width: 300px;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* Bouton hamburger pour mobiles */

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
#menu-toggle {
    display: none; 
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 2.4rem;
    background: none;
    border: none;
    color: #333;
    z-index: 1001;
    cursor: pointer;
  }
  
  /* Sidebar masquée en mode mobile */
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    font-size: 1.2rem;
    top: 0;
    left: -35rem; 
    width: 35rem;
    height: 100vh;
    background-color: var(--color-secondary);
    color: #333;
    padding: 2rem;
    transition: left 0.3s ease; 
    z-index: 1000; 
  }
  
  /* Sidebar visible avec la classe 'show' */
  .sidebar.show {
    left: 0;
    width: 35rem;
    visibility: visible; 
  }
  
  
  



.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-secondary-opacity);
  color: #fff;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
}

.form__input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-tertiary);
}

.form__input:focus{
  border: none;
}

.agence-horaire, .xpress-horaire{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



#map {
  position: relative;
  flex: 1;
  height: 100vh;
}

.hidden {
  display: none;
}

/* Stylisation des boutons */
.form__btn{
  border-radius: 8px;
  padding: 7px;
  border: none;
}
.form__btn:hover{
  border-radius: 8px;
  background: var(--color-tertiary);
  border: none;

}
#exportBtn{
  border-radius: 8px;
  padding: 7px;
  border: none;
}
#exportBtn:hover{
  border-radius: 8px;
  background: var(--color-tertiary);
  border: none;
}

#importBtn {
  margin-top: 10px;
  border-radius: 20px;
  padding: 30x;
  border: none;
}

/* //////////////// */
.point-list {
  max-height: 50rem; 
  overflow-y: auto;  
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0;
  border-radius: 6px;
}

/* .movements {
  max-height: 20rem;
  background-color: #ffffff;
  padding: 2rem;
  overflow-y: auto;
  border: 1px solid #0082bb;
  border-radius: 0.5rem;
} */

.point-list::-webkit-scrollbar {
  width: 8px;
}

.point-list::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.point {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.point_edit{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete_icon{
  color: #fa5252;
  cursor: pointer;
}

.edit_icon{
  color: #005a99;
  cursor: pointer;
}

.point__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.point__details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.point__icon {
  font-size: 1.5em;
  margin-right: 8px;
}

.point__value {
  font-weight: bold;
  margin-right: 5px;
}


/* Stylisation de la barre de recherche */
.search {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: none;
  width: 35rem; 
}

.search_input {
  background: #fff;
  width: 100%; 
  /* padding-right: 3rem; */
  padding:  0.6rem 1.2rem; 
  font-family: inherit;
  font-size: 1.4rem;
  border: 2px solid var(--color-green-ecobank);
  border-radius: 15px;
  transition: all 0.2s;
  color: var(--color-secondary);
}

.search_input:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  right: 15px; 
  top: 50%;
  transform: translateY(-50%); 
  color: var(--color-secondary);
  font-size: 2rem;
  pointer-events: none; 
  cursor: pointer;
  pointer-events: auto;
}

/* Message box */
.message_box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* width: 40rem; */
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}


.message_box.active {
  opacity: 1; 
  visibility: visible; 
}

/* Succès : fond vert */
.message_box.success {
  background: #a9e34b; 
  color: white;
}

/* Échec : fond rouge */
.message_box.error {
  background: #f44336; 
  color: white;
}



/* Style leaflet */

/* .leaflet-control-zoom {
  position: absolute !important;
  top: 30% !important;
  left: 10% !important;
  transform: translate(-50%) !important;
} */

/* Stylisation de la popup */

/* Container de la popup */
.custom-popup-container .leaflet-popup-content-wrapper {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Supprime le padding par défaut */
.custom-popup-container .leaflet-popup-content {
  margin: 0;
}

/* Partie supérieure de la popup */
.popup-header {
  background-color: #005a99;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icone dans la partie supérieure */
.popup-icon {
  font-size: 7em;
  color: #fff;
}

/* Partie inférieure avec les détails */
.popup-content {
  padding: 10px;
  color: #333;
  font-weight: 500;
}

.popup-title {
  font-size: 2em;
  margin: 0;
}

.service-title{
  font-size: 1.4rem;
}

.popup-address, .popup-hours {
  font-size: 1.6em;
  margin: 5px 0;
  color: #555;
}


/* Pour les écrans de bureau */
@media (min-width: 768px) {

  /* .search_input{
    width: 30rem;
  } */

  .menu-toggle {
    display: block; 
    visibility: visible;
  }

  .sidebar {
    width: 35rem;
    left: 0; 
    visibility: visible;
    position: relative; 
    transition: none; 
  }
}

